* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #442fbe;
}
h1 {
  margin-top: 5rem;
  color: white;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.App {
  display: flex;
}
.flexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 770px;
  height: 80vh;
  overflow: hidden;
  padding: 1rem;
}

.flexbox {
  display: flex;
  flex-direction: column;
}
.flexbox .board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: 20vh;
  max-width: 600px;
  background-color: #313131;
  padding: 15px;
  margin: 1rem;
}

.flexbox .board .card {
  padding: 15px 25px;
  cursor: pointer;
  background-color: white;
  font-size: x-small;
}
.card {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 0;
  margin: 5px;
}

.board {
  display: flex;
  flex-direction: row;
}

.category {
  background-color: rgb(15, 255, 27);
  width: 200px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  text-align: center;
  color: white;
  border: 0;
  background: transparent;
  outline: none;
}

input {
  background-color: #313131;
  height: 20vh;
}
